@model TaskDetailsVM
<div>
    <h1>Task</h1>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkingHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Responsible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "CreateEdit", new { id = Model.ID }, new { @class = "btn btn-success" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-secondary" })
</p>

<hr />
<h2>Logworks</h2>

<br />

@{
    Html.RenderAction("CreateLogwork");
}

<br />

<table class="table table-hover table-borderless">
    <thead class="table-light">
        <tr>
            <th>
                User
            </th>
            <th>
                Working Hours
            </th>
            <th>
                Created Date
            </th>
        </tr>
    </thead>

    @foreach (Logwork logwork in Model.Logworks)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => logwork.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => logwork.WorkingHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => logwork.CreateDate)
            </td>
        </tr>
    }
</table>

@Html.Partial("Pager", Model.LogworksPager)

<hr />
<h2>Comments</h2>

<br />

@{
    Html.RenderAction("CreateComment");
}

<br />

<table class="table table-hover table-borderless">
    <thead class="table-light">
        <tr>
            <th>
                User
            </th>
            <th>
                Text
            </th>
            <th>
                Created Date
            </th>
        </tr>
    </thead>

    @foreach (Comment comment in Model.Comments)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => comment.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => comment.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => comment.CreateDate)
            </td>
        </tr>
    }
</table>

@Html.Partial("Pager", Model.CommentsPager)