@model TaskIndexVM

@{
    ViewBag.Title = "Tasks - Index";
}

<h2>Tasks</h2>

<p>
    @Html.ActionLink("Create New", "CreateEdit", null, new { @class = "btn btn-primary" })
</p>

<hr />

@Html.Partial("Filter", Model.Filter)

<br />

<table class="table table-hover table-borderless">
    <thead class="table-light">
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Hours
            </th>
            <th>
                Creator
            </th>
            <th>
                Responsible
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (Task task in Model.Items)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => task.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => task.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => task.WorkingHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => task.Creator.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => task.Responsible.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => task.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "CreateEdit", new { id = task.ID }, new { @class = "btn btn-outline-success" })
                @Html.ActionLink("Details", "Details", new { id = task.ID }, new { @class = "btn btn-outline-secondary" })
                @Html.ActionLink("Delete", "Delete", new { id = task.ID }, new { @class = "btn btn-outline-danger" })
            </td>
        </tr>
    }

</table>

@{
    Html.RenderPartial("Pager", Model.Pager);
}